{% extends "base.html" %}
{% block content %}

    <!-- Breadcrumb -->
    <title>Patient Enquiries</title>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Enquiries</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item active">Enquiries</li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
    <!-- Main Content -->
    <div class="container">

        <div class="row">
            <!-- Widget Item -->
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-table me-1"></i>Enquires Table</div>
                <div class="card-body">
                    <table id="datatablesSimple" class="table" style="width:100%">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr>
                            <td>Colleen Hurst</td>
                            <td>Javascript Developer</td>
                            <td>San Francisco</td>
                            <td>39</td>
                            <td>2009/09/15</td>
                            <td>$205,500</td>
                        </tr>
                        <tr>
                            <td>Sonya Frost</td>
                            <td>Software Engineer</td>
                            <td>Edinburgh</td>
                            <td>23</td>
                            <td>2008/12/13</td>
                            <td>$103,600</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /Widget Item -->
        </div>
    </div>
    <!-- /Main Content -->

{% endblock %}
