{% extends "base.html" %}
{% block content %}
    {% load static %}
    <!-- Modal Start-->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Modal Title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Hi, this is the modal content.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End -->

    <!-- Add the Bootstrap CSS to the header of your HTML file -->
    <title>Patient List</title>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Patient List</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item">Patients</li>
            <li class="breadcrumb-item active">Patient List</li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
    <!-- Main Content -->
    <!-- Widget Item -->
    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table me-1"></i>All Patients</div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="search-input" class="form-label">Search Patients:</label>
                    <div class="input-group">
                        <input type="text" id="search-input" class="form-control" placeholder="Search patients by phone...">
                        <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#myModal" style="margin-left: 10px;">
                            Open Modal
                        </button>
                    </div>
                </div>

            </div>
            <table id="all-patients-table" class="table table-bordered table-striped table-dark dt-responsive nowrap"
                   style="width:100%">
                <!-- Include table headers here if needed -->
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% load compress %}
    {% compress js %}
        <script src="{% static 'js/custom_datatable.js' %}"></script>
        <script src="{% static "js/patients/patient_list.js" %}"></script>
    {% endcompress %}
{% endblock scripts %}