{% extends "base.html" %}
{% block content %}
    {% load static %}

    <!-- Add the Bootstrap CSS to the header of your HTML file -->
    <title>Patient List</title>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Patient List</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item">Patients</li>
            <li class="breadcrumb-item active">Patient List</li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
    <!-- Main Content -->
    <!-- Widget Item -->
    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table me-1"></i>All Patients</div>
        <div class="card-body">
            <table id="all-patients-table" class="table table-bordered table-striped table-dark dt-responsive nowrap"
                   style="width:100%">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Mobile</th>
                    <th>IP No</th>
                    <th>OP No</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script src="{% static "js/patients/patient_list.js" %}"></script>
{% endblock scripts %}