{% extends "base.html" %}
{% block content %}
    {% load static %}
    <title>Create Patient</title>
    <style>
        .input-error {
            border: 1px solid red;
        }

        .error-message {
            color: red;
            font-size: 14px;
            margin-top: 4px;
        }

        .box-shadow {
            border-radius: 0;
            border: 0;
            -webkit-box-shadow: 0 0 0 1px #dce3ec, 0 8px 16px 0 #dce3ec;
            box-shadow: 0 0 0 1px #dce3ec, 0 8px 16px 0 #dce3ec;
            background: #fff;
            margin-top: 20px;
        }

        .widget-area-2 {
            background: #fff;
            margin-top: 20px;
            padding: 20px;
            padding-bottom: 2px;
            border-radius: 5px;
        }

    </style>
    <div class="container mt-4">
        <h2>Create Patient</h2>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item active">Patients</li>
        </ol>

        <form id="create-patient-form" class="widget-area-2 box-shadow">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="first_name" class="form-label">First Name:</label>
                        <input type="text" class="form-control" id="first_name" name="first_name" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="last_name" class="form-label">Last Name:</label>
                        <input type="text" class="form-control" id="last_name" name="last_name" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="phone_number" class="form-label">Phone Number:</label>
                        <input type="text" class="form-control " id="phone_number" name="phone_number" placeholder="1234567890"
                               required>
                        <small class="form-text text-muted">Please enter a 10-digit phone number without spaces or dashes (e.g., 1234567890).</small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="dob" class="form-label">DOB:</label>
                        <input type="text" class="form-control " id="dob" name="dob">
                        <small class="form-text text-muted">Enter the date of birth.</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address:</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="address" class="form-label">Address:</label>
                        <textarea class="form-control" id="address" name="address"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="inpatient_number" class="form-label">Inpatient Number:</label>
                        <input type="text" class="form-control" id="inpatient_number" name="inpatient_number">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="outpatient_number" class="form-label">Outpatient Number:</label>
                        <input type="text" class="form-control" id="outpatient_number" name="outpatient_number">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="insurance_provider" class="form-label">Insurance Provider:</label>
                        <input type="text" class="form-control" id="insurance_provider" name="insurance_provider">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="policy_number" class="form-label">Policy Number:</label>
                        <input type="text" class="form-control" id="policy_number" name="policy_number">
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="medical_history" class="form-label">Medical History:</label>
                <textarea class="form-control" id="medical_history" name="medical_history"></textarea>
            </div>

            <div class="mb-3">
                <label for="allergies" class="form-label">Allergies:</label>
                <textarea class="form-control" id="allergies" name="allergies"></textarea>
            </div>

            <div class="mb-3">
                <label for="current_medications" class="form-label">Current Medications:</label>
                <textarea class="form-control" id="current_medications" name="current_medications"></textarea>
            </div>

            <div class="mb-3">
                <label for="additional_info" class="form-label">Additional Info:</label>
                <textarea class="form-control" id="additional_info" name="additional_info"></textarea>
                <small class="form-text text-muted">Add extra info as needed...</small>

            </div>

            <button type="submit" class="btn btn-primary">Create Patient</button>
            <br>
            <br>
        </form>
    </div>
    <br>
    <br>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.css">

{% endblock %}
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.js"></script>
    <script>
        function initializeDateTimePicker(elementId) {
            flatpickr(elementId, {
                dateFormat: "d-m-Y",
            });
        }
        initializeDateTimePicker("#dob");
    </script>
    <script type="text/javascript" src="{% static "js/patients/patient_create.js" %}"></script>
{% endblock scripts %}